### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
game.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Sublime Text ###
*.sublime-project
*.sublime-workspace
build-tmp/
